.times-container {
  margin-top: 30px;
  margin-left: 5px;
  font-size: 16px;
}

.list-item {
  display: flex;
  flex-direction: row;
  /*justify-content: center;*/
  padding: 10px;
  text-align: left;
}

.icon {
  font-size: 18px;
  color: #00DDFF;
  margin-right: 10px;
}